*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: 'Courier New', Courier, monospace;

}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #414141;
    color: white;

}
.wraper{
   
    text-align: center;
    padding: 12px;
    width: auto;
  
    

}
.timebox{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items:center ;
    margin: auto;
    font-size: 40px;
    background-color: black;
    margin-bottom:20px;
    height: 70px;
    border-radius: 12px;
    padding: 12px;
    font-weight: bolder;
      

}
.btn{
    width: 100%;
    margin: auto;
}
.wraper .btn button{
    width: 80px;
    font-size: 22px;
    padding: 8px 2px;
    border-radius: 12px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: bolder;
   
    
}
.Start{
    background-color: rgb(128, 222, 78);
    
  
}
.Stop{
    background-color: rgba(0, 0, 0, 0.868);
}
.Reset{
    background-color: red;
}
.wraper .btn button:hover{
    transform: scale(1.1);
}

